<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>

</head>
<style>
 input[type=button] {
  width: 40%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 input[type=button]:hover {
  background-color: #45a049;
}
</style>
<body>
<h1 style="text-align:left">Search Result </h1>
<table STYLE="margin-top:50px;width:100%">
    <tr style="height:40px">
        <td>No.</td>
        <td>Image</td>
        <td>Website URL</td>
    </tr>
    <tr th:each="j,index:${ImageResult}" >
        <td th:text="${index.count}" STYLE="width:10%"></td>
        <td STYLE="width:50%">
            <img th:src="${j.src}" style="width=100%; height=auto">

        </td>
        <td STYLE="width:40%">
            <a th:href="@{${j.url}}" th:text="${j.url}"></a>
        </td>
    </tr>

</table>
<input type ="button" onclick="history.back()" value="Back to Search" style="margin-top:30px;width:200px">

</body>
</html>
