<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>My Search Engine</h1>
Select keyword type:
<select style="width: 30%; margin-right: auto" required>
    <option value = "word">word</option>
    <option value = "image">image</option>
</select>
<form action="SearchKey" method="GET">

    <p>Search:<input type="text" name="query" style="width: 30%; margin-left: auto" placeholder="seed URL" required/><input type="submit"/></p>
</form>
</body>
</html>