<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>My Search Engine</h1>
Select keyword type:


<form action="SearchKey" method="GET">
    <select name="type" style="width: 30%; margin-right: auto" required>
        <option value = "word">word</option>
        <option value = "image">image</option>
    </select>

    <p>Search:<input type="text" name="keyword" style="width: 30%; margin-left: auto" placeholder="keyword" required/>

        <input type="submit"/></p>
</form>
</body>
</html>